numpy
Pillow
streamlit
matplotlib
opencv-python-headless
streamlit-drawable-canvas==0.8.0
google-cloud-firestore
pandas
scipy
scikit-learn
firebase-admin
requests
uuid
python-dotenv 
PyQt6
torch
tqdm
